.custom-checkbox {
    margin: 3px 3px 3px 4px;
    width: 13px;
    height: 13px;
    border: 1px solid #767676;
    display: grid;
    place-items: center;
    border-radius: 3px;
    outline-offset: 3px;
    cursor: pointer;
    & svg {
        display: none;
    }
    &:hover {
        border-color: #4f4f4f;
    }
    &.checked {
        background-color: #000;
        border-color: #000;
        &:hover {
            background-color: #000;
        }
        & svg {
            display: block;
            color: #fff;
        }
    }
}